@page "/TipoPersonaje"
@rendermode InteractiveServer
@inherits TipoPersonajeBase

<PageTitle>Un tipo de personaje</PageTitle>

<h1>Esta es una página para consultar, modificar o crear un tipo de personaje</h1>

<EditForm Model="@tipoPersonaje" OnValidSubmit="Post">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Id: </label>
        <InputNumber class="from-control" @bind-Value="tipoPersonaje.Id" />
    </div>
    <div class="form-group">
        <label>Nombre:</label>
        <InputText class="from-control" @bind-Value="tipoPersonaje.Nombre" />
        <ValidationMessage For="@(() => tipoPersonaje.Nombre)" />
    </div>
    <div class="form-group">
        <label>Descripcion:</label>
        <InputText class="from-control" @bind-Value="tipoPersonaje.Descripcion" />
        <ValidationMessage For="@(() => tipoPersonaje.Nombre)" />
    </div>

     <div class="form-group">
        <input type="submit" class="btn btn-success" value="Agregar" />
    </div>

    <ValidationSummary />

</EditForm>