@page "/"

<PageTitle>Home</PageTitle>

<h1 style="text-align: center;">Bienvenidos a "Juegos RPG Luna Hazuki"</h1>

Les damos una cordial bienvenida a esta aplicación :D <br><br>
Es una aplicación <sub><small><del>un poquito defectuosa</del></small></sub> en proceso de creación <br>
Por favor tener paciencia y si se encuentran errores, por favor avisar a la programadora <br>

Advertencias: <br>
Por favor no usar 
